<ul class="navbar-nav bg-dark sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{ url('homepage') }}">
        <div class="sidebar-brand-icon">
            <img src="{{ asset('img/lol_icon.png') }}" alt="" width="50px" height="50px" />
        </div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item {% if app.request.pathinfo == '/' %}active{% endif %}">
        <a class="nav-link" href="{{ url('homepage') }}">
            <i class="far fa-chart-bar"></i>
            <span>Statistiques générales</span>
        </a>
    </li>

    <li class="nav-item {% if app.request.pathinfo starts with '/matchhistory' %}active{% endif %}">
        <a class="nav-link" href="{{ url("matchhistory") }}">
            <i class="fas fa-gamepad"></i>
            <span>Historique de parties</span>
        </a>
    </li>
</ul>